/* ==========================================================================
   Hoodie Sign In / Sign Up / Sign out stylings
   ========================================================================== */

body {
  font-family: "Roboto","Arial", sans-serif;
}

.container {
  background: #fff;
  padding: 0;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4 {
  color: #38afda;
}

/* ----- welcome msg + SignOut Button ----- */
.section--account {
  text-align: right;
  margin-right: 15px;
  margin-top: 15px;
}
.section--account p {
  display: inline-block;
  margin-right: 8px;
}
.section--acount--username {
  font-weight: bold;
}

/* ------ login overlay ----- */
.section--login {
  position: absolute;
  background-color: #fff;
  top: 0;
  bottom:0;
  width: 99%;
  z-index: 6996;
}
.section--login--form {
  position: absolute;
  background-color: #fff;
  z-index: 6999;
  width:300px;
  height:150px;
  top: 30%;
  left: 40%;
}
.section--login--title {
}
.section--login--form--input {
    display: block;
}
.section--login--form--button {
    margin-top: 30px;
}

/* ----- your content ----- */
.section--content {
  padding: 10px;
  width: 480px;
  margin: 0 auto;
}
